{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'users/loginStyle.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@500;700&family=Lobster&display=swap"
      rel="stylesheet"
    />
    <title>Portal Społecznościowy</title>
  </head>
  <body>
    <main>
      <section class="landing">
        <nav>
          <h1 id="logo">Logo</h1>
          <div class="nav-links">
            <ul class="nav-links">
              <li><a href="#">    Home   </a></li>
              <li><a onclick="pressed_log()" href="#">   Sign in   </a></li>
              <li><a onclick="pressed_reg()" href="#">Sign up</a></li>
            </ul>
          </div>
        </nav>
        <div class="overlay"></div>
        <div class="frontt">
          <img src ="{% static 'users/firends_rm.png' %}" class ="friends">
          <img src ="{% static 'users/wood_rm.png' %}" class ="wood">
          <h2 class="big-text">Facebook2.0</h2>
        </div>

        <div class="info">
          <div id="circle2"></div>
        </div>

      <div class="info">
        <div id="circle">
          <div class="feature one">
                <div class="wrapper">
                 <div class="title">Sign in</div>
                 <form action="#" method="POST">
                   {% csrf_token %}

                   <div class="field">
                     <input type="text" name="username" value="" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" class="textinput textInput form-control" required="" id="id_username">
                     <label>Username</label>
                   </div>
                 <div class="field">
                   <input type="password" name="password" autocomplete="current-password" class="textinput textInput form-control" required="" id="id_password">
                   <label>Password</label>
                 </div>
                 <div class="field">
                   <input type="submit" value="Login">
                   {% if messages %}
                     {% for message in messages %}
                       <div class="alert alert-{{message.tags}}">
                         {{ message }}
                       </div>
                     {% endfor %}
                   {% endif %}
                 </div>
                 </div>
                 <div class="field">
                   <input type="submit" value="Login">
                   {% if messages %}
                     {% for message in messages %}
                       <div class="alert alert-{{message.tags}}">
                         {{ message }}
                       </div>
                     {% endfor %}
                   {% endif %}
                 </div>
                 </form>
              </div>
          <div class="feature two">
                <div class="wrapper">
                 <div class="title">Sign up</div>
                 <form action="#" method="POST">
                   {% csrf_token %}
                   <div class="field">
                     <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username">
                     <label>Username</label>
                   </div>
                   <div class="field">
                     <input type="email" name="email" required="" id="id_email">
                     <label>Email</label>
                   </div>
                 <div class="field">
                   <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1">
                   <label>Password</label>
                 </div>
                 <div class="field">
                   <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
                   <label>Confirm password</label>
                 </div>
                 <div class="field">
                   <input type="text" name="first_name" maxlength="30" required="" id="id_first_name">
                   <label>First name</label>
                 </div>
                 <div class="field">
                   <input type="text" name="last_name" maxlength="30" required="" id="id_last_name">
                   <label>Last name</label>
                 </div>
                 <div class="field">
                   <input type="submit" value="Sign up">
                 </div>
                 </form>
                </div>
          </div>
        </div>
      </div>





        <!--
        <div class="overlay"></div>
        <img src ="./firends_rm.png" class ="friends">
        <img src ="./wood_rm.png" class ="wood">
        <h2 class="big-text">Facebook 2.0</h2>

                <div class="info">
          <div id="circle">
            <div class="feauter"></div>
            <div class="feauter"></div>
            <div class="feauter"></div>
            <div class="feauter"></div>
          </div>
        </div>
        //-->
      </section>
    </main>
    <div class="intro">
      <div class="intro-text">
        <h1 class="hide">
          <span class="text">Welcome</span>
        </h1>
        <h1 class="hide">
          <span class="text">at Portal</span>
        </h1>
        <h1 class="hide">
          <span class="text">Try it out!</span>
        </h1>
      </div>
    </div>
    <div class="slider"></div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"
      integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ=="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'users/loginApp.js' %}"></script>

  </body>
</html>
