* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


.znajomi_border{
  width: 100%%;
  background: white;
  text-align: center;
  margin-bottom: 70px;
}
.znajomi_name{
  width: 100%;
  margin-bottom: -1px;
}
.znajomi_name:hover{
  border: 1px solid black;
}

a.one:link, a.one:visited {
  font-size: 1.5rem;
  color: black;
  padding: 0px 1.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

}

a.one:hover, a.one:active {
}

a:active, a:link{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: underline;
  color: black;
}

.media{
  width: 100%;
  padding: 20px;
  background: white;
}


.text-secondary{
  font-size: 1.1rem;
  display: flex;
  margin-left : 40%;

}


.account-heading{
  /*
  position: relative;
  left: 120%;
  */
  margin-left: 8%;
  display: inline-block;
  text-align: center;

}

.content-section {
  position: absolute;
  width: 33%;
  top: 10%;
  left: 33%;

}


.avatar{
  width: 185px;
  height: 185px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15%;
  /*
  margin-right: 80px;
  position: relative;
  */

}

.btn_border{
  width: 100%;
  background: white;
}

.btn_friend{
  margin: 10px;
  margin-left: 20px;
  margin-top: 0px;

}
a.btn_friend:link, a.btn_friend:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.btn_friend:hover, a.btn_friend:active {
  background-color: red;
}


.information {
  width: 0;
  height: 0;
  border-top: 100px solid black;
  border-right: 100px solid black;
  border-bottom: 100px solid black;
  border-left: 100px solid black;
  position: absolute;
  left: 25%;
  top: 25%;
}
.names {
  position: absolute;
  left: 45%;
  top: 15%;
  color : black;
  font-size: 50px;
}
.text {
  height:200px;
  background-color: #C1C1B9;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.post {
  position: relative;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  width: 33%;
  left: 33%;
}


.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #9c27b0, #8ecdff);;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #958EFF;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}
